services:
  emotion-api:
    build: .
    container_name: emotion-analysis-api
    ports:
      - "8000:8000"
    volumes:
      - emotion_data:/app/data
    environment:
      - TF_CPP_MIN_LOG_LEVEL=2
      - TF_FORCE_GPU_ALLOW_GROWTH=true
      - DJANGO_SETTINGS_MODULE=config.settings
    restart: unless-stopped

volumes:
  emotion_data:
